.home {
    margin-top: 12vh;
    color: white;
    height: 100%;

   

    section {
        height: 100vh;
        background-color: #282828;

        >h1 {
            color: white;
        }
    
        >p {
            color: #f8f8f8;
        }
    }

}